/*
    个人空间主页
*/
/*整个页面的外部容器*/
.qq-zone-wrapper{
    width:100%;
    margin:0 auto;
}
/*页面顶部*/
.qq-zone-wrapper .qq-zone-top{
    width:100%;
    margin: 0 auto;
    padding-bottom: 1px;
    background:orchid;
}
.qq-zone-wrapper .qq-zone-top .qq-zone-title{
    width:100%;
    padding:20px 0;
    text-align: center;
}
.qq-zone-wrapper .qq-zone-top .page-native{
    margin:0 0 10px 10px;
}
.qq-zone-wrapper .qq-zone-top ul{
    width:100%;
    display: flex;
}
/* 欢迎进入空间 */
.qq-zone-wrapper .qq-zone-top .welcome-title{
    display: block;
    height:30px;
    color:greenyellow;
    font: bolder 18px "微软雅黑";
    line-height: 30px;
    margin-left:150px;
    margin-right:20px;
}
/* 返回个人空间 */
.qq-zone-wrapper .qq-zone-top .back-to-main{
    display: block;
    height:30px;
    line-height: 30px;
}

/* 退出登录 */
.qq-zone-wrapper .qq-zone-top .login-out-btn{
    width:100px;
    height:30px;
    margin-left:644px;
    border:1px solid deepskyblue;
    color:cadetblue;
    cursor: pointer;
}
/* 个人中心 和 好友管理 */
.qq-zone-wrapper .qq-zone-top .personal,
.friend-manage{
    width:100px;
    height:30px;
    display: block;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    background: cadetblue;
    color:white;
    border:1px solid deepskyblue;
    text-decoration: none;
    font: 14px "微软雅黑 Light";
    line-height: 30px;
}

/*中间部分*/
.qq-zone-wrapper .qq-zone-center{
    width:80%;
    min-height:600px;
    margin:20px auto;
    display: flex;
    border:1px solid blue;
    background:rgba(255,255,255,.3);
}
.qq-zone-wrapper .qq-zone-center h2{
    width:100%;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid red;
}
/* 好友列表模块 */
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper{
    width:20%;
    text-align: center;
    border:1px solid orange;

}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper ul{
    height:93%;
    background: rgba(255,255,255,.6);
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper li{
    height:60px;
    line-height: 60px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper .qq-zone-friend-list .friend-list-null{
    display: block;
    text-align: center;
    color:Red;
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper li a{
    color:black;
    text-decoration: none;
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper li:hover{
    background:rgba(0,0,0,.5);
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper li:hover a{
    color:palevioletred;
}
.qq-zone-wrapper .qq-zone-center .qq-zone-friend-list-wrapper li img{
    width:60px;
    height:60px;
    margin-left:40px;
    margin-right:20px;
    border:1px solid orchid;
    border-radius: 50% 50%;
}

/* 文章列表模块 */
.qq-zone-wrapper .qq-zone-center .qq-zone-topic-list-wrapper{
    width:80%;
    text-align: center;
}
.qq-zone-wrapper .qq-zone-center .qq-zone-topic-list-wrapper h2{
    padding-bottom: 1px;
}

.qq-zone-topic-list-wrapper .publish{
    display: block;
    width:100px;
    height:30px;
    color:ghostwhite;
    line-height: 30px;
    background:deepskyblue;
    border:1px solid mediumpurple;
    border-radius: 4px 4px;
    text-decoration: none;
    margin-top: 4px;
    margin-bottom:4px;
    margin-left:79.5%;
}
.qq-zone-topic-list-wrapper .publish:hover{
    background:palevioletred;
    color:white;
}

.qq-zone-topic-list-wrapper .qq-zone-topic-table{
    width:80%;
    line-height: 40px;
    margin:0 auto;
    background: rgba(255,255,255,.6);
}

.qq-zone-topic-table,
.qq-zone-topic-table th,
.qq-zone-topic-table td{
    text-align: center;
    border:1px solid hotpink;
    border-collapse: collapse;
}

.qq-zone-topic-table .delete:hover{
    cursor: pointer;
    color:red;
    background: rgba(0,0,0,.3);
}

.qq-zone-topic-list-wrapper .page-btn-wrapper{
    width:100%;
    margin-top:10px;
}
.qq-zone-topic-list-wrapper .page-btn-wrapper button{
    width:100px;
    height:30px;
    background: antiquewhite;
    border:1px solid lightskyblue;
    cursor: pointer;
}


/*页面底部*/
.qq-zone-wrapper .qq-zone-bottom{
    width:100%;
    padding:40px 0;
    text-align: center;
    border:1px solid orangered;
    background:deepskyblue;
}